.bg-secondary-dark {
    background-color: #6F2D15;
}

.bg-secondary-semi {
    background-color: #C07E5B;
}

.bg-secondary-light {
    background-color: rgba(247, 239, 226, .8);
}
body {
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F3E4D1;  /* fallback for old browsers */
    background: linear-gradient(to bottom, #F3E4D1, #F7EFE2);  
}

.carousel {
    font-size: 1.6em;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    height: 60vh;
  }

 .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23C07E5B' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

 .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23C07E5B' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
   }

.carousel-indicators li {
   background-color: #C07E5B;
   }

.carousel p { /* õpetus karusseli üeal*/
    font-size: 1.1em;
    line-height: 1.2em;
    color: #6F2D15;
}

.intro {
    position: relative;
    height: 100%;
    background: url(./pildid/puidumuster.svg);
}

.tegemine {
    background: linear-gradient(to bottom, #C07E5B, #6F2D15);
}

.aken { /* see on tegemise ekraani beezh aken ja kogus */
    background-color:#F7EFE2;
    padding: 8px;
}

.valge { /* see on tegemise ekraani valge alus */
    background-color:#fff;
    border-top: 2pt solid  #6F2D15;
}

/* ma { see variant töötab omaette nõnda, et küpsis on õiges kohas */
/*     height: 100%;
    background: url(./pildid/kypsis_S.png);
    background-position: right bottom;
    background-repeat: no-repeat;
} */

.label-sm {
    font-size: .8em;
    margin-bottom: .2rem;
}

.btn {
    min-width: 180px;
    /* max-width: 400px; */
}

@media only screen and (max-width: 768px) {
      .btn-primary, .btn-outline-primary {
          display: block;
          width: 100%;        }
    }

.btn-primary{
    background-color: #5BC0A8;
    border: #5BC0A8;
}

.btn-outline-primary {
    background-color: #E1F3EF;
    color: #5BC0A8;
    border-color: #5BC0A8;
}

.btn-primary:hover, .btn-outline-primary:hover {
    background-color: #4B9E8A;
    border: #5BC0A8;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle, .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #C07E5B;
    border-color: #6F2D15;
}

.keskel {
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.suur-kypsis {
    background: url(./pildid/kypsis_S.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    right: -30px;
    height: 100px;
    width: 360px;
}

.card {
    border: none;
    border-bottom: 1px solid #6F2D15;
    background: none;
}

.card-header {
    background: rgba(243, 228, 209, .5);
}

.card-header button::after {
    content: url("./ikoon/nool-alla-menyy.svg");
    position: absolute;
    right: 10px;
    top: 20px;
}

xxx.card-header button.collapsed::after {
    content: "<";
    display:inline-block;
    width:18px;
    height:16px;
    margin:4px 8px 0 10px;
}

.subtitle {
    font-size: 1.375rem;
    text-align: start;
    color: #6F2D15;
}

li, li a {
    font-size: 1.125rem;
    color:  #6F2D15;
    margin-bottom: 4px;
 }

 h1, h2 {
    font-family: 'Caveat', Georgia, 'Times New Roman', Times, serif;
    color: #6F2D15;
    text-align: center;
 }

 h2 {
    color: #fff;
    margin-right: auto;
    font-size: 1.4rem;
    padding-top: 8px;
 }
 
 h5 {
     font-size: 1em;
 }

 hr {
    height: 4px;
    border-top:1px dashed #6F2D15;
    border-bottom: 1px solid #6F2D15;
 }

 p {
    font-size: 18px; 
    line-height: 1.5em;
     margin-bottom: 1em;
 }

 .btn-circle.btn-xl { /* Suur ümmargune nupp */
    background-color: #4B9E8A;
    border: 1px solid  #4B9E8A;
    color: #fff;
    height: 128px;
    min-width: 128px;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 1.33;
    background-image: url("./ikoon/thumbs-up.svg");
    background-size: 64px 64px;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: contain; */
}

.nupp-icon {
    background-size: 24px;
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}

 .nupp-myts {
    background-image: url("./ikoon/myts.svg");
}

.nupp-list {
   background-image: url("./ikoon/poodi-dark.svg");
}

.nupp-thumbs {
    background-image: url("./ikoon/thumbs-up.svg");
 }

 .nupp-lisa {
    background-size: 18px;
    background-image: url("./ikoon/lisa.svg");
 }

 .nupp-edasi {
    background-image: url("./ikoon/edasi.svg");
 }

 .nupp-tagasi {
    background-position-x: 5%;
    background-image: url("./ikoon/tagasi.svg");
 }

.hazmuch {
    border-top: 2px solid  #6F2D15;
    }

.hazmuch ~ .hazmuch {
    border-top: none;
    }