.bg-secondary-dark {
    background-color: #6F2D15;
}

.bg-secondary-semi {
    background-color: #C07E5B;
}

.bg-secondary-light {
    background-color: rgba(247, 239, 226, .8);
}
body {
    xbackground: url(puidumuster.svg);
    background-repeat: repeat;
    background-size: auto;
    background-color: #F3E4D1;  /* fallback for old browsers */
    background: linear-gradient(to bottom, #F3E4D1, #F7EFE2);  
    height: 100vh;
    font-family: 'Merriweather Sans', sans-serif;
}

.label-sm {
    font-size: .8em;
    margin-bottom: .2rem;
}

.btn {
    min-width: 180px;
}

@media only screen and (max-width: 768px) {
      .btn-primary, .btn-outline-primary {
          display: block;
          width: 100%;
        }
    }

.btn-primary{
    background-color: #5BC0A8;
    border: #5BC0A8;
}

.btn-outline-primary {
    background-color: #E1F3EF;
    color: #5BC0A8;
    border-color: #5BC0A8;
}

.btn-primary:hover, .btn-outline-primary:hover {
    background-color: #4B9E8A;
    border: #5BC0A8;
}

.keskel {
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.suur-kypsis {
    background: url(kypsis_S.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    right: -30px;
    height: 100px;
    width: 360px;
}

main {
    position: relative;
    height: 100%;
    background: url(puidumuster.svg);
}

/* ma { see variant töötab omaette nõnda, et küpsis on õiges kohas */
    height: 100%;
    background: url(kypsis_S.png);
    background-position: right bottom;
    background-repeat: no-repeat;

}

.card {
    border: none;
    border-bottom: 1px solid #6F2D15;
    background: none;
}

.card-header {
    background: rgba(243, 228, 209, .5);
}

.card-header button::after {
    content: "<";
    position: absolute;
    right: 10px;
    top: 20px;
}

.card-header button.collapsed::after {
    content: "\22C1";
}

.subtitle {
    font-size: 1.375rem;
    text-align: start;
    color: #6F2D15;
}

li {
    font-size: 1.125rem;
    color:  #6F2D15;
    margin-bottom: 4px;
